body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
}

.card h2 {
  margin-top: 0;
  font-size: 20px;
}

.card p {
  margin-bottom: 10px;
  font-size: 16px;
}

.card img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
